@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

*{
    margin: 0;
    padding: 0;
}

div {
    width: 300px;
    border: 1px solid #000;
    padding: 36px 16px;
}

div h1 {
    margin-bottom: 42px;
}

div p {
    font-size: 24px;
    color: blue;
    margin-bottom: 50px;
}

div .lastp {
    margin-bottom: 0;
}

div p span {
    font-size: 36px;
    color: red;
    font-weight: 900;
}