@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

form {
    width: 428px;
}

form li {
    list-style: none;
    
}

form .namebox {
    margin-left: 32px;
    margin-bottom: 22px;
}

form .idbox {
    margin-left: 16px;
    margin-bottom: 22px;
}

form input[type="text"] input[type="password"] {
    width: 177px;
}
