@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

form li {
    list-style: none;
    margin-bottom: 8px;
}

form fieldset ol .idbox input {
    margin-left: 69px;
}

form input[type="text"], input[type="password"] {
    width: 410px;
    height: 60px;
    padding-left: 16px;
    border-radius: 16px;
    border: 1px solid #c5ccd2;
}

form input[type="submit"], input[type="reset"] {
    /*버튼 손모양표시*/
    cursor: pointer;
}

form {
    width: 700px;
}