@charset "utf-8";

body {

}

.box1,.box2,.box3 {
    width: 640px;
    height: 200px;
    border: 5px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.box2 {
    position: relative;
}

.box1 div, .box2 div, .box3 div{
    width: 200px;
    height: 200px;
    
}

.box1 div:first-child {
    background-color: red;
}

.box1 div:last-child {
    background-color: green;
}

.box2 div:first-child {
    background-color: orange;
}

.box2 div:nth-child(2) {
    background-color: yellow;
}

.box2 .ani{
    position: absolute;
    left: 440px;
    top: 0;
    background-color: #0cf;
}

/*.box3 div:first-child {
    background-color: aqua;
}*/

.box3 div:last-child {
    background-color: blueviolet;
}

/*bg class에 배경을 골드색상으로 채우는 명령*/
.bg {
    background-color: gold;
}