@charset "utf-8";

body {
    font-family: "맑은 고딕", "malgun gothic", "sans-serif";
}

table {
    /* 약식 코딩 */
    border-top: 1px solid #000;
    border-left: 2px dotted #f00;
    border-right: 5px solid #0f0;
    border-bottom: 10px solid #000;
    border-top: 10px solid #00f;

    /* 원래대로 코딩 */
    border-top: 10px;
    border-style: solid;
    border-color: #00f;

    /* 테두리 선 상하좌우 모두 삽입 */
    border: 1px solid #000;

    /* 표 가로사이즈 */
    width: 600px;
    
    /* 객체(object) 정렬 */
    margin: 0 auto;

    /* 테두리 선과 테두리 선 사이 여백 설정 */
    border-spacing: 0;

    /* 테두리 선 겹침 방지 */
    border-collapse: collapse;

    background-color: gray;
}

th {
    text-align: center;
    border: 1px solid #000;
    width: 200px;
    height: 38px;
    background-color: orange;
}

td {
    /* 텍스트, 이미지만 가운데 정렬한다 */
    text-align: center;
    border: 1px solid #000;
    width: 200px;
    height: 38px;
    background-color: #CDFF00;
}

.pf {
    background-color: #00ccff;
    color: #fff;
}
