@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

table {
    margin: 0 auto;

    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
    width: 300px;
    /* 여백 지정 */
    margin-bottom: 50px;
}

th {
    border: 1px solid #000;
    text-align: center;
    height: 25px;

}

td{
    border: 1px solid #000;
    text-align: center;
    height: 25px;
    width: 100px;
}


.th2 {
    width: 150px;
}

.td2 {
    width: 150px;
}