@charset "utf-8";

body {
    font-family: "맑은 고딕", "malgun gothic", "sans-serif";
}

table {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
}


th {
    background-color: orange;
    color: #000;
    border: 1px solid #000;
    width: 200px;
    height: 35px;

}

td {
    border: 1px solid #000;
    text-align: center;
    width: 200px;
    height: 35px;

}

.grtr {
    background-color: #efefef;
}

.bltr {
    background-color: #00ccff;
}