@charset "utf-8";

body {
    font-family: "맑은 고딕", "malgun gothic", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
}

.box {
    width: 1000px;
    height: 500px;
    border: 5px solid #0002FE;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}

.box .child1 {
    width: 300px;
    height: 200px;
    border: 4px solid #000;
}

.box .child2 {
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    margin-left: 20px;
}

.box .child3 {
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    margin-left: 20px;
}

ul {
    width: 1000px;
    height: 500px;
    border: 4px solid #000;
    margin: 0 auto;
    display: flex;
    list-style: none;
}

ul li {
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    margin-right: 20px;
}

ul .last{
    margin-right: 0;
}