@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

*{
    margin: 0;
    padding: 0;
}

.box {
    width: 1000px;
    height: 300px;
    border: 4px solid red;
    margin: 0 auto;
}

.box div {
    width: 480px;
    height: 300px;
    background-color: pink;
    float: left;
    margin-right: 40px;
}

.box .last {
    margin-right: 0;
}

li {
    list-style: none;
}

ul {
    width: 1000px;
    height: 300px;
    border: 4px solid blue;
    margin: 0 auto;
}

ul li {
    width: 480px;
    height: 300px;
    background-color: purple;
    float: left;
    margin-right: 40px;
}

ul .lastli {
    margin-right: 0;
}