@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


body {
    font-family: 'Pretendard';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*헤더 영역*/
header {
    width: 1200px;
    height: 150px;
    background: #ccc;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /*부모 요소 기준 위아래 정렬*/
    align-items: center;
}

/*헤더 검색영역*/
header .search {
    width: 350px;
    height: 60px;
    background: brown;
}

/*헤더 로고 영역*/
header .logo {
    width: 350px;
    height: 70px;
    background: greenyellow;
}

/*헤더 오른쪽 박스 영역*/
header .right {
    width: 350px;
    height: 90px;
    background: blueviolet;
}


/*id는 #, class는 .*/
#slide {
    width: 100%;
    height: 450px;
    background: red;

}

/*메인 영역*/
main {
    width: 1200px;
    
    /*background: blue;*/
    margin: 0 auto;
    min-height: 600px;
    
}

main .banchan {
    width: 100%;
    /*height: 1300px;*/
    /*background: purple;*/
    /*border: 5px solid #000;*/
    padding: 50px 16px 16px;


}


main .banchan .title {
    text-align: center;
    
}

main .banchan .title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

main .banchan .title p {
    font-size: 16px;
    font-weight: 500;
    color: #868686;
    margin-bottom: 16px;
}

main .banchan .product {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
}

main .banchan .product .card {
    width: 280px;
    /*height: 538px;*/
    /*background: blue;*/
}

main .banchan .product .card .imgbox {
    width: 100%;
    height: 376px;
}

main .banchan .product .card .imgbox img {
    width: 100%;
    height: 100%;
    /* 이미지 왜곡 발생하지 않게 비율 맞추기*/
    object-fit: cover;
}

main .banchan .product .card .info {
    width: 100%;
    
    padding: 16px 8px;

}

main .banchan .product .card .info .new {
    font-size: 16px;
    font-weight: 500;
    color: #ca504c;
    background: #f5dede;
    padding: 4px;
    border-radius: 4px;
}

main .banchan .product .card .info .new2 {
    font-size: 16px;
    font-weight: 500;
    color: #2f6e32;
    background: #dbe6dc;
    padding: 4px;
    border-radius: 4px;
}

main .banchan .product .card .info .new3 {
    font-size: 16px;
    font-weight: 500;
    color: #f5b44c;
    background: #fdf0dc;
    padding: 4px;
    border-radius: 4px;
}


main .banchan .product .card .info h3 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-top: 16px;
}

main .banchan .product .card .info p {
    font-size: 14px;
    color: #848484;
    margin-top: 16px;
}

main .banchan .product .card .info h4 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-top: 16px;

}

main .banchan .product .card .info .sale {
    color: #c53e3a;
}

main .banchan .product .card .info .price {
    font-size: 14px;
    color: #848484;
    font-weight: 600;
    text-decoration: line-through;
}



/*정기적 반찬 영역*/
main .day-banchan {
    width: 100%;
    
    /*background: purple;
    border: 5px solid red;*/
    padding: 50px 16px 16px;
}


main .day-banchan .tit {
    text-align: center;
}

main .day-banchan .tit h2 {
    font-size: 28px;
    font-weight: 500;
    color: #333;
    margin-bottom: 16px;
}

main .day-banchan .tit p {
    font-size: 16px;
    font-weight: 600;
    color: #827C77;
    margin-bottom: 16px;
}


main .day-banchan .product {
    width: 1168px;
    display: flex;
    gap: 16px;
}

main .day-banchan .product .dbcard {
    width: 280px;
    
    
    
}

main .day-banchan .product .dbcard .dbimgbox {
    width: 100%;
    height: 380px;
    position: relative;

}

main .day-banchan .product .dbcard .dbimgbox .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .day-banchan .product .dbcard .dbimgbox .sale {
    position: absolute;
    left: 16px;
    top: 16px;
}

main .day-banchan .product .dbcard .dbimgbox .lock {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

main .day-banchan .product .dbcard .dbinfobox {
    width: 100%;
    padding: 16px;
    background: #fff;
}

main .day-banchan .product .dbcard .dbinfobox .newproduct {
    font-size: 12px;
    font-weight: 600;
    color: #bd2420;
    padding: 4px;
    background: #eec6c6;
    border-radius: 4px;
}

main .day-banchan .product .dbcard .dbinfobox .nospicy {
    font-size: 12px;
    font-weight: 600;
    color: #ba7e20;
    padding: 4px;
    background: #f5af40;
    border-radius: 4px;
}

main .day-banchan .product .dbcard .dbinfobox .db_h3 {
    margin-top: 6px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

main .day-banchan .product .dbcard .dbinfobox .db_p {
    margin-top: 6px;
    font-size: 14px;
    color: #838383;
    font-weight: 600;
}

main .day-banchan .product .dbcard .dbinfobox .db_h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 6px;
}

main .day-banchan .product .dbcard .dbinfobox .db_h4 .discount {
    color: #bd2420;
}


main .day-banchan .product .dbcard .dbinfobox .price {
    font-size: 12px;
    font-weight: 600;
    color: #b0b0b0;
    text-decoration: line-through;
    margin-top: 6px;
}



main .new-banchan {
    width: 100%;
    height: 1000px;
    background: purple;
    border: 5px solid blue;
}

main .banner {
    width: 100%;
    height: 200px;
    background: purple;
    border: 5px solid green;
}

main .MD-banchan {
    width: 100%;
    height: 1000px;
    background: purple;
    border: 5px solid yellow;
}


/*footer*/
footer {
    width: 1200px;
    height: 200px;
    background: green;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-left {
    width: 385px;
    height: 125px;
    background: #83a166;
}

footer .footer-right {
    width: 775px;
    height: 125px;
    background: #723737;
}