@charset "utf-8";

body {
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background: none;
}

/*header 영역*/
header {
    width: 100%;
    height: 60px;
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin-top: -5px;
}

header h1 a {
    color: #fff;
    font-size: 24px;

}

.cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    /*겹침방지*/
    pointer-events: none;
}

.cover.on {
    opacity: 1;
    pointer-events: none;
}

/*모바일 메뉴 숨기기*/

.mobile-menu {
    /*cal의 연산자는 띄어쓰기 필요*/
    width: calc(100% - 32px);
    height: 100%;
    background-color: #1f2937;
    position: absolute;
    right: -100%;
    top: 0;
    padding: 24px;
    transition: all 0.5s ease-in-out;
}

.mobile-menu.on {
    right: 0;
}

.mobile-menu ul {
    padding-top: 48px;
}

.mobile-menu ul .closebtn {
    position: absolute;
    right: 24px;
    top: 24px;
}

.mobile-menu ul li a{
    display: block;
    color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #404955;
}



main {
    width: 100%;
    padding: 36px 24px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 27px;
    color: #333;
}

