@charset "utf-8";

/* 여백초기화 */
* {
  margin: 0;
  padding: 0;
  /* padding이나 border 크기가 영향 안가게 초기화 */
  box-sizing: border-box;
}
/* li앞에 특수문자 초기화 */
li {
  list-style: none;
}
/* 글자에 하이퍼링크 아래 밑줄 초기화 */
a {
  text-decoration: none;
}
/* 버튼 초기화 */
button {
  border: none;
  background: none;
}
