@charset "utf-8"; 

body {
    font-family: "맑은 고딕";
    background: #222;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    margin-bottom: 16px;
    margin-left: 16px;
}

h1 {
    margin-bottom: 32px;
}

form {
    padding: 32px;
    background: blue;
}

form .fieldset {
    padding: 32px;
}


form li .tel {
    width: 48px;
}

form .btn {
    text-align: center;
    background: yellow;
}