@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: 1200px;
    height: 70px;
    /*background: gold;*/
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header h1 a{
    /* a 태그는 inline 옆으로 배치, 가로 세로 크기를 정할 수 없음*/
    display: block;
    width: 98px;
    height: 28px;
    background: url("../images/pic_mtopLogo.png") no-repeat;
    /*글자를 화면에 안보이도록 */
    text-indent: -99999px;
}

header .gnb {
    display: flex;
    gap: 64px;
}

header .gnb li a {
    color: #333;
    font-weight: 600;

}

header .utill {
    display: flex;
    gap: 20px;
}

header .utill li:first-child a {
    background: url("../images/ico_mTopetc01.png") no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -99999px;
}

header .utill li:last-child a {
    background: url("../images/ico_mTopetc04.png") no-repeat;
    display: block;
    width: 14px;
    height: 12px;
    text-indent: -99999px;
}

header .utill li:nth-child(2) a {
    background: url("../images/ico_mTopetc02.png") no-repeat;
    display: block;
    width: 27px;
    height: 10px;
    text-indent: -99999px;
}

main {
    width: 100%;
}

main .hero {
    width: 100%;
    height: 920px;
    background: url("../images/main_01_03.jpg") no-repeat center top;
}

.box {
    width: 393px;
    height: 158px;
    padding: 30px;
    background: #907354 url("../images/speed_menu_icon_02.png") no-repeat 234px center;
}

.box h2, .box p {
    color: #fff;
}