@charset "utf-8";

div {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid gray;
    background-image: linear-gradient(to right, red, yellow, green, blue, purple);
}