@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 180px 0 100px;

}

section .title {
    text-align: center;
}

section .title h2 {
    font-weight: 900;
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
}

section .title p {
    font-size: 21px;
    color: #222;
    font-weight: 400;
    line-height: 32px;
}

section ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 72px;
}

section ul li {
    list-style: none;
}

section .box_total_wrap {
    width: 1140px;

    margin: 50px auto 0;
    display: flex;
    gap: 19px;
}

section .box_total_wrap .leftbox {
    width: 312px;
    height: 655px;
    border: 1px solid #313131;
}

section .box_total_wrap .centerbox {
    width: 474px;
    height: 655px;
    
}

section .box_total_wrap .centerbox .video {
    width: 100%;
    height: 429px;

    padding: 40px;


    border: 1px solid #313131;
}


section .box_total_wrap .centerbox .cs {
    width: 100%;
    height: 209px;

    margin-top: 19px;
    padding: 24px;

    border: 1px solid #313131;
}

section .box_total_wrap .rightbox {
    width: 313px;
    height: 655px;

}

section .box_total_wrap .rightbox .food {
    width: 100%;
    height: 213px;

    padding: 32px;

    border: 1px solid #313131;
}

section .box_total_wrap .rightbox .board {
    width: 100%;
    height: 193px;

    margin-top: 19px;
    padding: 32px;

    border: 1px solid #313131;
}

section .box_total_wrap .rightbox .mall {
    width: 100%;
    height: 210px;

    margin-top: 19px;
    padding: 32px;

    border: 1px solid #313131;
}



section .box_total_wrap div h3 {
    font-size: 27px;
    font-weight: 600;

}

section .box_total_wrap div p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 16px;
}

section .box_total_wrap div button {
    margin-top: 32px;
    width: 90px;
    height: 26px;
    background: orange;
    color: #fff;
    border: 1px solid orange;
    border-radius: 999px;
    /* 버튼에 하이퍼링크 손모양*/
    cursor: pointer;
}