@charset "utf-8";

body {
    font-family: "맑은 고딕";
}

* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 843px;
    background: #000;
    background: url("../images/bg_about.jpg") no-repeat;
    padding: 300px 0 100px;
}

section .boxwrap {
    width: 1280px;
    display: flex;
    gap: 40px;
}

section .box_h2_wrap {
    width: 1280px;
    margin: 0 auto;

}


section .box_h2_wrap h2 {
    font-size: 50px;
    color: #fff;
    line-height: 75px;
    margin-bottom: 50px;
}



section .box .imgbox {
    width: 400px;
    height: 230px;

}

img {
    width: 400px;
    height: 230px;
}

section .box .textbox {
    width: 400px;
    height: 45px;
    background: #fff;
    text-align: center;
    /*위 아래 정렬*/
    line-height: 45px;
    font-weight: 600;
    font-size: 20px;
    color: #111
}