@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    /*transition: all 3s;
    transition: all 3s ease-in-out;
    transition: all 3s ease-in-out 2s;
    transition: all 3s;
    transition-delay: 2s;*/

    transition: all 3s ease-in-out 1s;
    /* 크로스 브라우징 구현*/

    /*-webkit-transition: all 3s;

    -o-transition: all 3s;*/
    
    
}

div:hover {
    width: 1500px;

}